{% extends 'base.html.twig' %}

{% block title %}{% trans %} Events list {% endtrans %}{% endblock %}

{% block body %}
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div>
                <a href="{{ path('allevent.list') }}">{% trans %} Show all events {% endtrans %} </a>    
            </div>
            <div>
                <a href="{{ path('event.list') }}">{% trans %} Show recent events {% endtrans %} </a>     
            </div>
            <br>
            <button>
                <b>
                    <div>
                        <a href="{{ path('search_event') }}">{% trans %} Advanced search {% endtrans %} </a>     
                    </div>
                </b>
            </button>
        </li>
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div>
                    <b>
                        <a class="navbar-brand" href="{{ path('event.create') }}">{% trans %} Create an event {% endtrans %}</a>
                    </b>     
                </div>
            </li>
        </ul>
    {% endif %}

    <table class="table text-center">
        <br><br><br><br><br>
        <div>
            <br>
            <strong>{% trans %} Event Name {% endtrans %} : </strong>{{ event.getNameEvent() }}
            <br>
            <strong>{% trans %} Community {% endtrans %} : </strong>{{ event.getTypeEvent() }}
            <br>
            <strong>{% trans %} Even date {% endtrans %} : </strong>{{ event.getDateEvent()|date('d/m/Y') }}
            <br>
            <strong>{% trans %} Duration (days) {% endtrans %} : </strong>{{ event.getDureeEvent() }}     
        </div>
    </table>
{% endblock %}