{% extends 'base.html.twig' %}

{% block title %}{% trans %} Events list {% endtrans %}{% endblock %}

{% block body %}

    <ul class="nav navbar-nav navbar-left">
        <li>
            <div>
                <a href="{{ path('allevent.list') }}">{% trans %} Show all events {% endtrans %} </a>     
            </div>
            <div>
                <a href="{{ path('event.list') }}">{% trans %} Show recent events {% endtrans %} </a>     
            </div>
            <br>
            <b>
                <button>
                    <div>
                        <a href="{{ path('search_event') }}">{% trans %} Advanced search {% endtrans %} </a>     
                    </div>
                </button>
            </b>
        </li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div>
                    <b>
                        <a class="navbar-brand" href="{{ path('event.create') }}">{% trans %} Create an event {% endtrans %}</a>
                    </b>     
                </div>
            </li>
        </ul>
    {% endif %}
    
    <br><br><br><br><br>
    <h1> {% trans %} Advanced search {% endtrans %} </h1>


    {{ form_start(form) }}
        <label>{% trans %} Event type {% endtrans %} : </label>
        {{ form_widget(form.type_event) }}
        <br>

        <button type="submit" class="btn">{% trans %} Search {% endtrans %}</button>
        <br><br>
    <table class="table text-center">
        
        {% if app.request.method == 'POST'%}
            {% if event |length > 0 %}
                <tr>
                    <th class="active text-center">{% trans %} Name {% endtrans %}</th>
                    <th class="active text-center"> Type </th>
                    <th class="active text-center"> Date </th>
                    <th class="active text-center">{% trans %} Duration (days) {% endtrans %}</th>
                    <th class="active text-center">{% trans %} Consult {% endtrans %}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="active text-center">{% trans %} Edit {% endtrans %}</th>
                        <th class="active text-center">{% trans %} Delete {% endtrans %}</th>
                    {% endif %}
                </tr>
                {% for evenement in event %}
                    <tr>
                        <td>{{ evenement.getNameEvent() }}</td>
                        <td>{{ evenement.getTypeEvent() }}</td>
                        <td>{{ evenement.getDateEvent() | date('d-m-Y') }}</td>
                        <td>{{ evenement.getDureeEvent() }}</td>
                        <td> <a href="event/{{evenement.getId()}}/showEvent"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a> </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if app.user.getCommuName()  ==  evenement.getTypeEvent() %}
                                <td> <a href="event/{{evenement.getId()}}/edit"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </a> </td>
                                <td> <a href="event/{{evenement.getId()}}/delete"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a> </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <h1> {% trans %} No result for your search {% endtrans %} </h1>
            {% endif %}
        {% endif %}
        {{ form_end(form) }}

    </table>
{% endblock %}